* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 375px;
}

header {
  z-index: 999;
}

main {
  padding: 0 1rem;
  @include mq(custom1600) {
    width: 1600px;
    margin: 0 auto;
  }
}

section {
  margin-bottom: 5rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: $__bold;
}
h2,
h3 {
  font-size: 1.25rem;
  font-weight: $__bold;
}

p {
  font-size: 1.15rem;
  font-weight: $__light;
}

.font-logo {
  font-family: 'Shrikhand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.1rem;
}

.icon-solid {
  &::before,
  &::after {
    @extend %fa-icon;
    @extend .fa-solid;

    width: 1rem;
  }
}
.icon-regular {
  &::before,
  &::after {
    @extend %fa-icon;
    @extend .fa-regular;

    width: 1rem;
  }
}
